<div class="jumbotron" id="home-jumbo">
    <h1 class="text-center"></h1>
</div>

<div class="container">
    <p class="text-center well well-sm"><i>Welcome to the app</i></p>
</div>
<div class="row">
    <div class="container col-md-3 col-md-offset-1">
        <div class="well center-block text-center">
            <img src="https://upload.wikimedia.org/wikipedia/en/a/a7/Cloud9_team_logo.jpg">
        </div>
    </div>
</div>